.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0;

  &__description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }
}
